body {
  margin: 0;
}

.container {
  padding: 20px;
}

.scroll {
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: calc(25% - 20px);
  box-sizing: border-box;
}

.carousel-container {
  display: inline-flex;
  overflow: hidden;
  width: 100%;
  scroll-behavior: smooth;
}

.carousel-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-right: 10px;
}
