body{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    line-height: 1.43;
    color: #222;
}

/*nav-bar*/
.navbar {
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    align-items: center; 
    font-family: Poppins-thin;

   
  }
  .navbar-right{
    display: flex;
    
  }

  .navbar img {
    padding-left:50px;
    height: 40px;
    width: 180px;
  }
  
  .navbar p{
    width: 100%;
    margin-right: 20px;
  }

  .Airbnb-button-container {
 
  }
  .Airbnb-button-group {
    text-align: center;
    background-color:  #ff385c;
    width: 150px;
    height: 50px;
    vertical-align: center;
    border-radius: 5px;
  }
  .Airbnb-button-group svg {
   
    color: white;

  }
  .Airbnb-button-group a{
   
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 15px;
  }

.Why-Airbnb-outer_container{
    margin: 120px 0px;
    padding: 0px 80px;
}
.Why-Airbnb-container img{
    width: 100%;
    height: 20%;
    overflow-clip-margin: content-box;
    overflow: clip;
    
}

.Why-Airbnb-container h2{
   text-align: center;
   margin: 0px 0px 40px;
   padding: 0px 40px;
   font-size: 40px;
   letter-spacing: -0.01em;
   
}

.Why-Airbnb-content-container{
    display: flex;
    gap: 40px;
    margin: 40px 0px 0px;
    padding: 0px 40px;
    line-height: 1.43;
    color: #222;
}

.Why-Airbnb-content{
    flex: 1;
}

.Why-Airbnb-content h3{
    font-size: 18px;
    margin: 0px 0px 10px;
}

.Why-Airbnb-content div{
    color: #717171;
    font-size: 16px;
}


.Aircover-outer-container{
    width: 80%;
    margin: 40px 10% 0px 10% ;
    
}

.Aircover-inner-container {
    display: block;
    text-align: center;
}



.Aircover-logo img{
    width: 200px;
}

.Aircover-table-container{
    margin: 10px 15% 0px 15%;
    
    width: 70%;
}


.Aircover-table-container th,td{
    padding: 20px 0px 0px 0px;
    text-align: left; 

}

.Aircover-thead tr{
    border-bottom:solid rgb(233, 233, 233) 2px;
    border-collapse: collapse;
}

.Aircover-thead th{
    padding: 0px 0px 20px 0px;
    width: 120px;
    text-align: center; 
    
}

.Aircover-table-container table{
   
    
}

.Aircover-tbody th{
    padding: 0px 0px 20px 0px;
    
}

.Aircover-tbody td{
    padding: 0px 0px 30px 0px;
    
}


.Aircover-table-container tbody{
    
   
}

.cell-image{
    text-align: center;
}

.cell-image img{
    height: 20px;
    width: 20px;
}


/*footer*/
.future-getaways {
    margin-left: 80px;
    margin-right: 80px;
  }
  
  .bottom-nav-link div {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
  }
  
  .future-getaways-title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .bottom-nav-link div button {
    cursor: pointer;
    border: none;
    background-color: white;
    height: 40px;
  }
  
  .bottom-nav-link div button:hover {
    background-color: rgb(241, 239, 239);
    border-radius: 5px;
  }
  
  .loctaions-nav {
    display: flex;
    justify-content: space-around;
  }
  
  .location-nav-link {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .location-nav-link-item {
    display: flex;
    flex-direction: column;
  }
  
  .location-city {
    margin-bottom: 20px;
    color: gray;
  }
  
  .location-nav-link-item span {
    cursor: pointer;
  }
  
  .show-more {
    text-decoration: underline;
  }
  
  .footer {
    height: 450px;
    background-color: rgb(247, 244, 244);
  }
  .footer-item {
    display: flex;
    margin-top: 50px;
    margin-left: 90px;
    margin-right: 0px;
  }
  
  .location-nav-link {
    margin-top: 50px;
  }
  
  .location-nav-link-title {
    font-size: 16px;
    font-weight: 600;
  }
  
  .footer-nav-link-item {
    display: flex;
    flex-direction: column;
  }
  
  .footer-nav-link-item span {
    margin-top: 20px;
    font-size: 0.875rem;
  }
  
  .footer-nav-link-item span:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  hr {
    margin: 50px;
  }
  
  .copyright-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
    padding-bottom: 20px;
  }
  
  .languange-currency {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .languange-currency div {
    margin-right: 45px;
  }
  
  .languange-currency img {
    width: 20px;
    margin-right: 20px;
  }