@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
.fetch {
  font-family: "Poppins", sans-serif;
}
.fetch2 {
  margin-left: 50px;
}
#container {
  height: 160px;
  width: 160px;
}
.fetch {
  background-color: aliceblue;
}
body {
  font-family: "Poppins", sans-serif;
}

.im {
  display: flex;
  margin-left: 3px;
}
body,
ul {
  margin: 0;
  padding: 0;
}

/* nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: black;
    width: 1250px;
    margin-left: 30px;
} */

/* .logo img {
    width: 100px;
    height: auto;
} */

.button {
  position: relative;
  border: solid black;
  border-radius: 30px;
  width: 110px;
  border-width: 1px;
}
.input {
  border: 2px solid transparent;
  width: 15em;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #f3f3f3;
  border-radius: 10px;
  transition: all 0.5s;
}

.input:hover,
.input:focus {
  border: 2px solid #4a9dec;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}
.button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button img {
  width: 50px;
  height: auto;
  cursor: pointer;
  margin-top: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 20px;
}

.button:hover .dropdown-content {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: block;
}

.one {
  border: none;
  background-color: white;
  font-size: larger;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.outer-box {
  /* margin-left: 380px; */
  /* border: solid black; */
  height: 700px;
  width: 600px;
  border-width: 0.5px;
  border-radius: 10px;
  margin: 0 30% 30px 27%;
}

.box h1 {
  margin-left: 20px;
  font-size: 50px;
}
.box h2 {
  text-align: center;
}

.login-form {
  margin-top: 40px;
  margin-left: 20px;
}
.card {
  box-sizing: border-box;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  /* cursor: pointer; */
  transition: all 0.5s;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* user-select: none; */
  font-weight: bolder;
  color: black;
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}
#email,
#phone {
  height: 60px;
  width: 550px;
  border-radius: 7px;
  border-width: 0.5px;
  margin-bottom: 10px;
}

#password {
  height: 60px;
  width: 97%;
  border-radius: 7px;
  border-width: 0.5px;
  margin-bottom: 10px;
}

.continue {
  height: 60px;
  width: 555px;
  border-radius: 7px;
  color: white;
  margin: 20px 15px 0 15px;
  font-size: 25px;
  border: none;
}
.continue {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  /* border-radius: 6em; */
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: white;
  background-color: #ff5a5f;
}

.continue:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
#or {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 24px;
  margin: 0 0 20px 0;
}

.social-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.facebook {
  background-color: white;
  background-image: url(https://th.bing.com/th/id/OIP.55DCXbXlKDgEBoZhKxpzLAHaHa?pid=ImgDet&rs=1); /* Replace with the actual Facebook logo image URL */
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 10px center;
  width: 550px;
  border: solid black;
  color: black;
  border-width: 1px;
}

.google {
  background-color: white;
  background-image: url(https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-google-icon-logo-png-transparent-svg-vector-bie-supply-14.png); /* Replace with the actual Google logo image URL */
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 10px center;
  width: 550px;
  border: solid black;
  color: black;
  border-width: 1px;
}

.github {
  background-color: white;
  background-image: url(https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png); /* Replace with the actual Apple logo image URL */
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 10px center;
  width: 550px;
  border: solid black;
  color: black;
  border-width: 1px;
}

.social-button:hover {
  filter: brightness(90%);
}
.future-getaways {
  margin-left: 80px;
  margin-right: 80px;
}

.bottom-nav-link div {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.future-getaways-title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}

.bottom-nav-link div button {
  cursor: pointer;
  border: none;
  background-color: white;
  height: 40px;
}

.bottom-nav-link div button:hover {
  background-color: rgb(241, 239, 239);
  border-radius: 5px;
}

.loctaions-nav {
  display: flex;
  justify-content: space-around;
}

.location-nav-link {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.location-nav-link-item {
  display: flex;
  flex-direction: column;
}

.location-city {
  margin-bottom: 20px;
  color: gray;
}

.location-nav-link-item span {
  cursor: pointer;
}

.show-more {
  text-decoration: underline;
}

.footer {
  height: 450px;
  position: relative;
  top: 0px;
  background-color: rgb(247, 244, 244);
}

.footer-item {
  display: flex;
  margin-top: 50px;
  margin-left: 90px;
  margin-right: 0px;
}

.location-nav-link {
  margin-top: 50px;
}

.location-nav-link-title {
  font-size: 16px;
  font-weight: 600;
}

.footer-nav-link-item {
  display: flex;
  flex-direction: column;
}

.footer-nav-link-item span {
  margin-top: 20px;
  font-size: 0.875rem;
}

.footer-nav-link-item span:hover {
  text-decoration: underline;
  cursor: pointer;
}

hr {
  margin: 20px 50px 10px 50px;
}

.copyright-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 50px 10px 50px;
  padding-bottom: 20px;
}

.language-currency {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.language-currency div {
  margin-right: 45px;
}

.language-currency img {
  width: 20px;
  margin-right: 20px;
}

#error-messages {
  color: red;
}

#email-error-message,
#password-error-message {
  display: none;
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.fetch {
  font-family: "Poppins", sans-serif;
  background-color: aliceblue;
  position: relative;
  top: -18px;
}

.fetch2 {
  margin-left: 50px;
  top: 5px;
}

#container {
  height: 160px;
  width: 160px;
}
