@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
.fetch {
  font-family: "Poppins", sans-serif;
}
@font-face {
  font-family: Poppins-thin;
  src: url("/poppins_font/Poppins-Thin.ttf") format("truetype");
}
@font-face {
  font-family: Poppins-light;
  src: url("/poppins_font/Poppins-Light.ttf") format("truetype");
}
@font-face {
  font-family: Poppins-bold;
  src: url("/poppins_font/Poppins-Regular.ttf") format("truetype");
}
.fetch2 {
  margin-left: 50px;
}
#container {
  height: 160px;
  width: 160px;
}
.fetch {
  background-color: aliceblue;
}
body {
  font-family: "Poppins", sans-serif;
}
/* Reset some default styles */
.im {
  display: flex;
  margin-left: 3px;
}
body,
ul {
  margin: 0;
  padding: 0;
}

nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: black;
  width: 1250px;
  margin-left: 30px;
}

.logo img {
  width: 100px; /* Adjust the width as needed */
  height: auto;
}

.button {
  position: relative;
  border: solid black;
  border-radius: 30px;
  width: 110px;
  border-width: 1px;
}
.button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button img {
  width: 50px; /* Adjust the width as needed */
  height: auto;
  cursor: pointer;
  margin-top: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 20px;
}

.button:hover .dropdown-content {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: block;
}

.one {
  border: none;
  background-color: white;
  font-size: larger;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

.mainbody {
  display: flex;
  margin-bottom: 150px;
}
.text h1 {
  font-size: 80px;
}
.text h3 {
  font-size: 40px;
}
.text {
  margin-left: 150px;
}
.main {
  display: flex;
  /* margin-top: 100px;
  margin-left: 150px; */
}
button {
  margin: 10px;
}
button {
  align-items: center;
  background-image: linear-gradient(144deg, #ff9a76, #ff6363 50%, #ff1e62);
  border: 0;
  width: 250px;
  height: 65px;
  padding: 25px;
  border-radius: 8px;
  text-decoration: none;
  box-shadow: rgba(255, 154, 118, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  /* color: #000000; */
  display: flex;
  /* font-family: Phantomsans, sans-serif; */
  font-size: 25px;
  text-align: center;
  justify-content: center;
  /* line-height: 1em; */
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  color: #000;
  /* text-decoration: none; */
  /* user-select: none; */
  /* -webkit-user-select: none; */
  /* touch-action: manipulation; */
  /* white-space: nowrap; */
  /* cursor: pointer; */
  transition: all 0.3s;
}

button:active,
button:hover {
  outline: 0;
}
button span a {
  color: black;
}
button:hover span a {
  color: white;
}
button span {
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  width: 100%;
  padding: 15px;
  color: #000;
  /* height: 100%; */
  /* color: #000; */
  transition: 300ms;
}

button:hover span {
  background: none;
}

/* button:active {
  transform: scale(0.9);
}  */
/* #host {
  width: 400px;
  height: 100px;
  border-radius: 30px;
  border: none;
  background-color: #ff5a5f;
  color: white;
  font-size: 30px;
  cursor: pointer;
} */
/* #host:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
} */

/* #traveller,
#host {
  width: 250px;
  height: 65px;
  border-radius: 30px;
  border: none;
  background-color: #ff5a5f;
  color: white;
  font-size: 25px;
  cursor: pointer;
} */
/* #traveller:hover,
#host:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
} */
#traveller a {
  text-decoration: none;
  /* color: white; */
}

/* .traveller {
  margin-left: 200px;
} */
#logo {
  margin-left: 200px;
  width: 300px;
  height: 350px;
  margin-top: 100px;
}
.future-getaways {
  margin-left: 80px;
  margin-right: 80px;
}

.bottom-nav-link div {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.future-getaways-title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}

.bottom-nav-link div button {
  cursor: pointer;
  border: none;
  background-color: white;
  height: 40px;
}

.bottom-nav-link div button:hover {
  background-color: rgb(241, 239, 239);
  border-radius: 5px;
}

.loctaions-nav {
  display: flex;
  justify-content: space-around;
}

.location-nav-link {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.location-nav-link-item {
  display: flex;
  flex-direction: column;
}

.location-city {
  margin-bottom: 20px;
  color: gray;
}

.location-nav-link-item span {
  cursor: pointer;
}

.show-more {
  text-decoration: underline;
}

.footer {
  height: 450px;
  background-color: rgb(247, 244, 244);
}
.footer-item {
  display: flex;
  margin-top: 50px;
  margin-left: 90px;
  margin-right: 0px;
}

.location-nav-link {
  margin-top: 50px;
}

.location-nav-link-title {
  font-size: 16px;
  font-weight: 600;
}

.footer-nav-link-item {
  display: flex;
  flex-direction: column;
}

.footer-nav-link-item span {
  margin-top: 20px;
  font-size: 0.875rem;
}

.footer-nav-link-item span:hover {
  text-decoration: underline;
  cursor: pointer;
}

hr {
  margin: 50px;
}

.copyright-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px;
  padding-bottom: 20px;
}

.languange-currency {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.languange-currency div {
  margin-right: 45px;
}

.languange-currency img {
  width: 20px;
  margin-right: 20px;
}
