#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(248, 246, 246) url('/images/newgif.gif') no-repeat center;
    background-size: 30%;
    z-index: 1000;
    opacity: 1; /* Set initial opacity to fully opaque */
    transition: opacity 1s ease; /* Add a transition for the opacity property */
}

/* Add a class to trigger the fade effect */
#preloader.fade {
    opacity: 0;
}
