@font-face {
  font-family: Poppins-thin;
  src: url("/poppins_font/Poppins-Thin.ttf") format("truetype");
}
@font-face {
  font-family: Poppins-light;
  src: url("/poppins_font/Poppins-Light.ttf") format("truetype");
}
@font-face {
  font-family: Poppins-bold;
  src: url("/poppins_font/Poppins-Regular.ttf") format("truetype");
}
.body {
  font-family: Poppins-light;
  width: 100%;
}
.contentOfPage {
  margin-left: 10%;
  margin-right: 10%;
  /* width: 80%; */
}
.images-container {
  /* width: 100%; */
  margin: 0;
}
.images-container-header {
  width: 100%;
  height: 110px;
  border: 2px solid black;
}
.header {
  /* margin-left: 5%;
  margin-right: 5%; */
  margin-bottom: 10px;
}
.name {
  line-height: 1.43;
  font-size: 1.7em;
  font-family: Poppins-bold;
  width: fit-content;
  margin: 0;
  margin-top: 0.7em;
}
.lower-head {
  display: flex;
  height: 1.5em;
  /* margin: 10px; */
}
.lower-head-div {
  flex: 6.5;
  display: flex;
  font-size: 1em;
  font-family: Poppins-light;
}

.right {
  flex: 2.5 1;
  margin-left: 320px;
}
.lower-head-div p {
  margin: 0%;
}
.images {
  /* margin-left: 5%;
  margin-right: 5%; */
  display: flex;
  /* padding: 10px; */
  width: 100%;
  overflow: hidden;
  justify-content: space-between;
  border-radius: 15px;
}
.images-right {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.images-left {
  width: 50%;
  /* float: right; */
  margin-right: 10px;
  /* max-height: 30vh; */
  /* overflow: hidden; */
  /* padding: 10px; */
}
.images-left img {
  float: left;
  width: 533px;
  border-radius: 0 0 0 15px;
  height: 370px;
  object-fit: cover;
}
.img {
  border-radius: 0px;
}
.images-right img {
  float: left;
  width: 245px;
  height: 180px;
  /* height: 100px; */
  object-fit: cover;
  margin-right: 10px;
  margin-bottom: 10px;
}
.right-image-border {
  border-radius: 0 15px 0 0;
}
.right-image-border-down {
  border-radius: 0 0 15px 0;
}
.star-rating {
  height: 25px;
  margin-bottom: 0px;
  margin-right: 8px;
  border-radius: 0px;
  align-self: center;
}
a {
  color: black !important;
  text-decoration: none !important;
}
.p {
  font-family: Poppins-thin;
}
.lower-head-div-button {
  margin-right: 10px;
}
.star-rating-header {
  height: 15px;
  margin: 3px 5px 0 0;
}
.about {
  margin-left: 15%;
  margin-right: 10%;
}
.details-about-unit-host {
  width: 650px;
  height: 112px;
  padding: 10px;
  /* border: 1px solid black; */
}
.details-about-unit-host-flex {
  display: flex;
  padding: 10px;
  font-family: Poppins-Light;
  align-content: center;
}
.details-about-unit-host-flex-text {
  /* margin-left: 20px; */
  flex: 3;
}
.details-about-unit-host-flex h3 {
  margin-bottom: 10px;
}
.details-about-unit-host-flex p {
  font-family: Poppins-Light;
  display: inline;
}
.user-image-src {
  width: 30px;
  height: 30px;
  position: relative;
  top: 10px;
  left: 10px;
}
.user-image {
  width: 50px;
  height: 50px;
  position: relative;
  top: 7px;
  background-color: rgb(209, 209, 209);
  border-radius: 50%;
}
.details-about-unit-host hr {
  bottom: 0px;
  margin-top: 20px;
  color: rgb(168, 168, 168);
  margin-left: 0px;
  width: 105%;
}
.policy {
  font-family: Poppins-thin;
}
.policy-icons {
  width: 50px;
  height: 50px;
}
.policy-single {
  margin-left: 20px;
  display: flex;
}
.policy-single img {
  margin: 10px;
}
.policy-single h3 {
  margin: 10px;
  margin-bottom: 5px;
  font-weight: 800;
  font-size: 1.25rem;
}
.policy-single p {
  margin-left: 10px;
  font-weight: 800;
  margin-top: 2px;
  color: rgb(139, 139, 139);
}
.policy hr {
  bottom: 0px;
  margin-top: 20px;
  color: rgb(168, 168, 168);
  margin-left: 15px;
  width: 105%;
}
.details-about-unit-host-flex-text h3 {
  display: inline;
}
.two {
  align-items: center;
  margin-left: 5px;
}
.reviewHeader {
  align-items: center;
  display: flex;
  font-size: 20px;
  height: 50px;
  font-weight: 800;
  font-family: Poppins-bold;
}

.oneReview {
  width: 90%;
  height: auto;
  font-family: Poppins-thin;
  padding: 5px;
}
.reviewsTexts {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 1.6rem; */
}

.oneReview h3 {
  font-size: 18px;
  font-weight: 800;
  margin: 10px;
  margin-bottom: 0px;
}
.oneReview p {
  font-weight: 300;
  font-size: 14px;
  margin-left: 10px;
  margin-bottom: 0px;
}
