#map {
  height: 400px;
  width: 100%;
}
.map-container,
.thingsToKnow-container,
.review-container,
hr {
  margin-left: 5%;
  margin-right: 5%;
}
.about-user-container {
  display: flex;
  flex-direction: column;
  margin-left: 17%;
  margin-right: 5%;
}
.calender-container-main hr {
  width: 75%;
  height: 1px;
  margin-left: 85px;
}

#columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column {
  width: 30%;
  margin-bottom: 20px;
}

.points {
  display: none; /* Initially hide points beyond the first 3 */
}
.thingsToKnow-container {
  margin-top: 38px;
  margin-bottom: 38px;
  display: flex;
  flex-direction: column;
}
.rules-container {
  display: flex;
  /* margin: 0px; */
  justify-content: space-between;
}
.GuestPicker {
  border-radius: 10px;
}

.rule-section {
  flex: 1;
  /* border: 1px solid #ddd; */
  /* padding: 20px;
  margin: 10px; */
  border-radius: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; */
}
.rule-section a {
  color: black;
  text-decoration: none;
}
.rule-section a:hover {
  color: black;
  text-decoration: underline;
}
#explore-container {
  margin-left: 5%;
  margin-right: 5%;
}
.booking-container {
  margin: 20px;
  border-radius: 10px;
  margin-bottom: 150px;
}
#places-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.place {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
}

.bold-text {
  font-weight: bold;
}
.reserve-card-float-container {
  display: flex;
  margin-bottom: -130px;
}
.left-side {
  flex-basis: 60%;
}
.calender-container-main {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95vh;
}
.calendar-container {
  max-width: 600px;
  margin-top: 20px;
  text-align: center;
}

#calendar-container {
  margin-top: 20px;
}

#showMoreBtn,
#showLessBtn {
  text-decoration: none;
  color: black;
}

#showMoreBtn,
#showLessBtn :hover {
  text-decoration: underline;
  color: black;
}
