@font-face {
  font-family: Poppins-thin;
  src: url("/poppins_font/Poppins-Thin.ttf") format("truetype");
}
@font-face {
  font-family: Poppins-light;
  src: url("/poppins_font/Poppins-Light.ttf") format("truetype");
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #333;
}

.navbar-container {
  margin-left: 3%;
  margin-right: 3%;
}
.navbar {
  width: 100%;
  min-height: 80px;
  border-bottom: 1px solid #eeeeee;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center; 

 
}

.navbar img {
  height: 40px;
  width: 130px;
}

/* Wishlist Heading */
.wishlist-heading {
  justify-self: center;
  width: 100%;
  
}

.wishlist-heading h3{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 200px;
  margin: auto;

}

/* Search bar */
.search {
  justify-self: center;
  width: 100%;
}

.imgUnit {
  border-radius: 15px;
}

.search form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  margin: auto;
  width: 100%;
  padding: 8px 12px;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: lightgrey 1px solid;
}

.search input {
  background: transparent;
  border: none;
  font-size: 1rem;
}

.search input:focus {
  outline: none;
}

.search i {
  font-size: 1rem;
  color: white;
  
}
 .search map{
        display: none;
        flex: 1;
        height: 300px;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 4px;
}

.search button {
  border: none;
  background-color: #ff385c;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  margin-left: 20px;
  
}

.menu {
  justify-self: end;
}

.nav-menu {
  display: flex;
}

.nav-menu li {
  padding-left: 1rem;
  font-size: 0.8rem;
}

.mobile {
  cursor: pointer;
  display: none;
}

#wish-nav, #listings-nav{
  padding-top: 15px;
}

/* Styles for the user logo and dropdown */
.navbar-nav li.dropdown {
  position: relative;
}

.navbar-nav li.dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  left:  -45px;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.navbar-nav li.dropdown:hover .dropdown-menu {
  display: block;
}

.navbar-nav li.dropdown img{
  height: 40px;
  width: 40px;
}



#map {
  height: 400px;
  width: 100%;
}
h1 h2 h3 h4 h5 h6 {
  font-family: Poppins-light;
}
.map-container,
.thingsToKnow-container,
.review-container,
hr {
  margin-left: 5%;
  margin-right: 5%;
}
.review-container hr {
  margin: 5% 0 5% 0;
}
.about-user-container {
  display: flex;
  flex-direction: column;
  margin-left: 17%;
  margin-right: 5%;
}
.calender-container-main hr {
  width: 75%;
  height: 1px;
  margin-left: 19%;
}

#columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column {
  width: 30%;
  margin-bottom: 20px;
}

.points {
  display: none; /* Initially hide points beyond the first 3 */
}
.thingsToKnow-container {
  margin-top: 38px;
  margin-bottom: 38px;
  display: flex;
  flex-direction: column;
  font-family: Poppins-light;
}
.rules-container {
  display: flex;
  /* margin: 0px; */
  justify-content: space-between;
}
.GuestPicker {
  border-radius: 10px;
}

.rule-section {
  flex: 1;
  /* border: 1px solid #ddd; */
  /* padding: 20px;
  margin: 10px; */
  border-radius: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; */
}
.rule-section a {
  color: black;
  text-decoration: none;
}
.rule-section a:hover {
  color: black;
  text-decoration: underline;
}
#explore-container {
  margin-left: 5%;
  margin-right: 5%;
  font-family: Poppins-bold;
}
.booking-container {
  margin: 20px;
  border-radius: 10px;
  margin-bottom: 150px;
}
#places-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.place {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
}

.bold-text {
  font-weight: bold;
}
.reserve-card-float-container {
  display: flex;
  margin-bottom: -130px;
}
.left-side {
  flex-basis: 60%;
  font-family: Poppins-light;
}
.final-product {
  font-size: 150%;
  text-align: right;
}
.price-info {
  text-align: right;
}
.calender-container-main {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95vh;
}
.calendar-container {
  max-width: 600px;
  margin-top: 20px;
  text-align: center;
  position: static;
}

#calendar-container {
  margin-top: 20px;
}

#showMoreBtn,
#showLessBtn {
  text-decoration: none;
  color: black;
}

#showMoreBtn,
#showLessBtn :hover {
  text-decoration: underline;
  color: black;
}
/* Styles for the user logo and dropdown */
.navbar-nav li.dropdown {
  position: relative;
}

.navbar-nav li.dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  left: -45px;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.navbar-nav li.dropdown:hover .dropdown-menu {
  display: block;
}

.navbar-nav li.dropdown img {
  height: 40px;
  width: 40px;
}
